// colors
$blue-dark:#090b1a;
$bule-ds: #1b1938;
$violet: #aa5cdb;
$white: #ffffff;
$para-main: hsla(0, 0%, 100%, 0.75);
$heading-stat:hsla(0, 0%, 100%, 0.6);

// fonts
$inter:'Inter',sans-serif;
$lexenddeca:'Inter',sans-serif;